<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date</title>
  </head>
  <body>
    <% t = Time.now %>
    <p>The date is <%=t.strftime("%A, %B %d, %Y")%></p>

  </body>
</html>
